
.ContentContainter {
  width: 200px;             
  max-width: 50%;         
  height: auto;            
  flex: 1 1 250px;  
  padding-left: 10%; 
  margin-top: 10%;      
}
.BoardMembersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding-bottom: 0;
  background-color: var(--primary-blue);
}
.BoardMembersIconContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.boardCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-light-blue);
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  width: 200px;
  height: 300px;
}

.member {
  font-weight: bold;
  text-align: center;
}
.year {
  font-style: italic;
  text-align: center;
  margin-bottom: 0;
  color: black;
}
.role {
  text-align: center;
  margin-bottom: 0;
}
