.learnMoreButton {
  background-color: var(--primary-yellow);
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  margin-left: 10%;
  margin-top: 20px;
  display: inline-block;
}
