#homePageContainer{
    background-color: var(--primary-blue);
    width: 100%;
    margin: 0;
    padding: 0;
}

#homePageTextContent{
    margin: 0;
    padding: 10%;
    padding-top: 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
    color: var(--primary-yellow);
    font-size: 4em;
    margin-bottom: 20px;
}
p{
    color: white;
    font-size: 1em;
    margin-bottom: 40px;
}
#nextEventContainer{
    background-color: rgb(196, 196, 196);
    width: 40%;
    padding: 2%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid black;
    margin-bottom: 40px;
    text-align: left;
}
#learnMoreButton{
    background-color: var(--primary-yellow);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
#eventType{
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    text-align: left;
}
#eventDate, #eventLocation, #eventTime,#eventDescription {
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    text-align: left;
}