/* Table of Contents Styles */
.TableOfContents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin: 0;
  padding-bottom: 0;
  background-color: var(--secondary-light-blue);
}
.LinkBodyText {
  color: black;
  font-size: 1em;
  margin-bottom: 10px;
  text-decoration: underline;
  display: inline;
}
.LinkBodyText:hover {
  color: var(--primary-yellow);
  font-size: 1em;
  margin-bottom: 5px;
  text-decoration: underline;
  cursor: pointer;
}
/* Subteam Section Styles */
.SubteamContainer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  padding: 2%;
  align-items: stretch;
  gap: 2%;
  background-color: var(--primary-blue);
}
.SubteamTextContainer {
  background-color: var(--secondary-light-blue);
  max-width: 20%;
  padding: 2%;
  width: 30%;
  margin-left: 8%;
  margin-right: 2%;
  box-sizing: border-box;
  border-radius: 10px;
}
.SubteamMediaContainer {
  width: 60%;
  border-radius: 8px;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.SubteamMediaRow {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 2%;
  gap: 2%;
  overflow: hidden;
  flex-wrap: no-wrap;
}

.SubteamMediaContainer img {
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0;
  max-width: 100%;
}
