.TableOfContents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin: 0;
  padding-bottom: 0;
  background-color: var(--secondary-light-blue);
}
.LinkBodyText {
  color: black;
  font-size: 1em;
  margin-bottom: 10px;
  text-decoration: underline;
}
.LinkBodyText:hover {
  color: var(--primary-yellow);
  font-size: 1em;
  margin-bottom: 5px;
  text-decoration: underline;
  cursor: pointer;
}
.SubteamContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  align-items: center; 
  justify-content: flex-start;
  padding: 2%;
  gap: 2%;

}
.SubteamTextContainer {
  background-color: var(--secondary-light-blue);
  max-width: 40%;
  padding: 2%;
  border: 2px solid black;
  margin-left: 5%;
  margin-right: 2%;
  box-sizing: border-box;
  border-radius: 10px;
}
.SubteamMediaContainer {

  height: auto;
  margin-right: 5%;
  margin-bottom: 10%;
  padding: 0;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}
.SubteamMediaRow {
  width: 100%;
  box-sizing: border-box;
  max-width: 45vw;
  display: flex;
  flex-direction: row;
  padding: 2%;
  gap: 2%;
}

.SubteamMediaContainer img {
   width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  display: block;

}
