.Footer{
    display: flex;
    height: 20vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.socialContainer{
    padding: 0px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.socialButton{
    height: 3rem;
    width: 3rem;
    color: var(--primary-blue);
}
.bodyText{
    margin: 0;
    font-size: 100%;
    font-size: 1rem;
    color: var(--primary-yellow);

    background-color: hsla(0, 0%, 0%, 0.76);
    border-radius: 5px;
    padding: 5px;
}