.Footer{
    display: flex;
    height: 300px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    padding: 0;
    
}
.imgContainer{
    height: 50%;
    width: 50%;
    overflow: hidden;
}
.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.socialContainer{
    padding: 0px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.socialButton{
    height: 3rem;
    width: 3rem;
    color: var(--primary-blue);
}
.bodyText{
    margin: 0;
    font-size: 100%;
    font-size: 1rem;
    color: var(--primary-yellow);

    background-color: var(--primary-blue);
    border-radius: 5px;
    padding: 5px;
}