body {
  margin: 0;
  padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

:root {
  --primary-yellow: hsl(48, 99%, 51%); 
  --primary-yellow-dark: hsl(48, 99%, 41%);
  --primary-yellow-light: hsl(48, 99%, 61%);
  --primary-blue: hsl(214, 61%, 37%);   
  --primary-blue-dark: hsl(214, 61%, 27%);
  --secondary-light-blue: #b4c3cb;

}

main {
  padding: 0 !important;
}
* {
  font-family: "Lato", sans-serif;
}