body {
  margin: 0;
  padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

:root {
  --primary-yellow: #fecc07; /* soft yellow from logo */
  --primary-blue: #255799;   /* dark blue from logo. */
}

main {
  padding: 0 !important;
}
* {
  font-family: "Lato", sans-serif;
}