/* NavBar.css */
.navbarLogo {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-left: 20px;
}
.tagline{
  display: none;
}
.logoContainer:hover .tagline{
  display: inline;
}
/* Navigation Bar Styles */
.navBarList {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0px;
  align-self: flex-end;
  
}
/* Navbar Logo Container */
.logoContainer {
  display: flex;
  flex-direction: row;
  height: 125px;
  width: 125px;
  position: relative;
  z-index: 10;
}
/* Navigation Bar List Item Styles */
.navbarListItem {
  list-style-type: none;
  padding: 10px;
  margin-right: 20px;
  font-size: large;
  text-decoration: none;
  color: black;
  position: relative;
  z-index: 5;
  background-color: hsl(0, 0%, 100%);
}

.navbarListItem a {
  text-decoration: none;
  color: inherit;
}

.navbarListItem:hover {
  background-color: hsl(0, 0%, 90%);
  cursor: pointer;
}

.navbarListItemSelected {
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
  margin-right: 20px;
  font-size: large;
  color: rgb(255, 255, 255);
  background-color: var(--primary-blue);
}

.navbarListItemSelected a {
  text-decoration: none;
  color: inherit;
}

.navbarListItemSelected:hover {
  background-color: var(--primary-blue-dark);
  cursor: pointer;
}

